pipeline/Getmetadata001.json
{
	"name": "Getmetadata001",
	"properties": {
		"activities": [
			{
				"name": "Getmetadata001",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary001",
						"type": "DatasetReference",
						"parameters": {
							"sourcefile": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach001",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Getmetadata001",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Getmetadata001').output.chidlitems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Switch001",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@last(split(item().name,'*'))",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "copycsv001",
										"activities": [
											{
												"name": "copycsv001",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "Binary001",
														"type": "DatasetReference",
														"parameters": {
															"sourcefile": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "adlscsv001",
														"type": "DatasetReference",
														"parameters": {
															"targetfolder": {
																"value": "@'outputcsv'",
																"type": "Expression"
															},
															"targetfilename": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "copytext001",
										"activities": [
											{
												"name": "copytext001",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "text001",
														"type": "DatasetReference",
														"parameters": {
															"sourcefile": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "adlstext001",
														"type": "DatasetReference",
														"parameters": {
															"targetfolder": {
																"value": "@'textoutput'",
																"type": "Expression"
															},
															"targetfilename": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}